<h3>Add new post</h3>

<div>
	<form action="/new" method="POST">
		<textarea name="content" class="form-control" rows="6" placeholder="type post text here" style="width: 600px"></textarea><br>
			<button type="submit" class="btn btn-primary">Отправить</button>
	</form>
</div> 