<h3>Add new post</h3>

<div>
	<form action="/new" method="POST">
		<textarea class="form-control" rows="6" placeholder="type post text here"></textarea><br>
			<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div> 